In [3]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [4]:
import zoo
zoo.hours()

Open 9-5 daily

In [5]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [8]:
from sqlalchemy import create_engine, text

engine = create_engine('sqlite:///:memory:')

with engine.connect() as conn:
    conn.execute(text("CREATE TABLE book (id INTEGER PRIMARY KEY, title TEXT)"))
    conn.execute(text("""
        INSERT INTO book (title) VALUES
        ('The Great Gatsby'),
        ('1984'),
        ('Brave New World'),
        ('Catch-22')
    """))
    
    result = conn.execute(text("SELECT title FROM book ORDER BY title"))
    for row in result:
        print(row.title)

1984
Brave New World
Catch-22
The Great Gatsby